.formContainer {
  display: flex;
  align-items: center;
  position: absolute;
  top: 175px;
  justify-content: center;
  width: 100%;

  form {
    display: flex;
    width: 80%;
    height: 50px;
    gap: 0.5rem;

    input {
      &:first-of-type {
        flex: 1;
        padding-left: 1rem;
        background-color: var(--gray-500);
        border: 1px solid #0d0d0d;
        color: var(--gray-100);
      }

      &:last-of-type {
        background-color: var(--blue-dark);
        padding: 1rem;
        width: 90px;
        border: none;
        color: var(--gray-100);
        font-weight: 700;
      }
    }

    * {
      border-radius: 8px;
    }
  }
}

@media screen and (min-width: 980px) {
  .formContainer {
    form {
      width: 40%;
    }
  }
}
